* {
  box-sizing: border-box;
}
body {
  font-family: 'Rovoto', sans-serif;
  padding-top: 44px;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.input {
  outline: none;
  background: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 35px;
}
.input-address {
  height: 40px;
  flex: 0.8;
  background: url(../img/home.svg) no-repeat left 11px center;
}
.input-search {
  width: 306px;
  height: 34px;
  background: url(../img/search.svg) no-repeat left 11px center;
}
.buttons {
  display: flex;
  align-items: center;
}
.button {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
}
.button-primary {
  background: #1890FF;
  border: 1px solid #1890FF;
  color: #ffffff;
  margin-right: 10px;
}
.button-icon {
  margin-right: 6px;
}
.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../img/promo-image.png) no-repeat top right -169px / contain;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 59px;
}
.promo-title {
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
  margin-bottom: 15px;
}
.promo-text {
  max-width: 538px;
  font-size: 24px;
  line-height: 28px;
  color: #302C34;
}
.section-heading {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}
.section-title {
  margin-right: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.card {
  flex-basis: 31%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
}
.card-image {
  width: 384px;
  height: 250px;
  object-fit: cover;
}
.card-text {
  padding: 20px 24px 35px;
}
.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-heading-link {
  text-decoration: none;
  color: #000000;
  outline: none;
}
.card-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.card-title-reg {
  font-size: 23px;
  font-weight: 400;
}
.card-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}
.card-buttons {
  display: flex;
  align-items: center;
}
.button-card-price {
  font-weight: bold;
  font-size: 20px;
  margin-left: 31px;
}
.card-info {
  display: flex;
  align-items: center;
}
.rating {
  font-weight: bold;
  font-size: 18px;
  color: #FFC107;
  margin-right: 26px;
}
.price, .category {
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}
.price {
  margin-right: 10px;
}
.price::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}
.category {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
  flex-wrap: wrap;
}
.ingredients {
  color: #8c8c8c;
  font-size: 17px;
  line-height: 21px;
  text-overflow: ellipsis;
  height: 42px;
  margin-bottom: 25px;
}
.footer {
  padding: 60px 0;
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav {
  margin-left: 35px;
  margin-right: auto;
}
.footer-link {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
  text-decoration: none;
}
.footer-link:not(:last-child) {
  margin-right: 15px;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-link:not(:last-child) {
  margin-right: 21px;
}
.contain {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* modal===================================== */
.modal {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-active {
  visibility: visible;
}
.modal-dialog {
  width: 780.73px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 46px 41px 41px;
}
.modal-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-heading {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}
.modal-close {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
.modal-close span {
  background: #000000;
  width: 100%;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.modal-close span:first-child {
  transform: rotate(45deg);
}
.modal-close span:last-child {
  transform: rotate(-45deg);
}
.modal-list {
  margin-top: 45px;
  margin-bottom: 68px;
}
.modal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  position: relative;
}
.modal-item::after {
  content: "";
  background: #D9D9D9;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 41px;
}
.modal-item-name {
  font-size: 18px;
  line-height: 32px;
}
.modal-item-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin: auto;
  margin-right: 47px;
}
.modal-button {
  color: #40A9FF;
  border: 1px solid #40A9FF;
  background: #ffffff;
  border-radius: 2px; 
  width: 41px;
  height: 32px;
  cursor: pointer;
  outline: none;
}
.modal-number {
  font-size: 16px;
  margin: 0 13px;
}
.modal-buttons-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-price {
  background: #262626;
  border-radius: 5px;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px
}
.modal-buy {
  margin: auto;
  margin-right: 89px;
}
@media (max-width: 1366px) {
  .container {
    max-width: 960px;
  }
  .promo {
    background-position:  top right -305px;
  }
  .rating {
    margin-right: 15px;
  }
  .category, .price {
    font-size: 14px;
  }
  .card-title-reg {
    font-size: 18px;
  }
  .ingredients {
    font-size: 13px;
  } 
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .promo {
    background-position: top right -336px;
    background-size: 106%;
    padding: 50px;
  }
  .promo-text {
    font-size: 18px;
    max-width: 400px;
  }
  .card {
    flex-basis: 49%;
  }
  .footer-link {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .promo {
    background-position: top right -366px;
    background-size: 128%;
  }
  .promo-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .promo-text {
    margin-top: 0;
  }
  .card-info {
    flex-wrap: wrap;
  }
  .rating {
    flex-basis: 100%;
  }
  .card-title {
    font-size: 18px;
  }
  .card-title-reg {
    font-size: 16px;
  }
  .ingredients {
    height: 19px;
  }
}
@media (max-width: 578px) {
  .container {
    width: 90%;
  }
  .header {
    flex-wrap: wrap;
  }
  .input-address {
    margin-top: 15px;
    order: 5;
    flex: 1;
  }
  .promo {
    background-image: none;
  }
  .promo-title {
    margin-bottom: 10px;
  }
  .section-title{
    font-size: 20px;
  }
  .card {
    flex-basis: 100%;
  }
  .card-image {
    width: 100%;
  }
  .footer {
    padding: 30px 0;
  }
  .footer-block {
    align-items: flex-start;
  }
  .footer-nav {
    order: 0;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-logo {
    order: 1;
    margin-right: 15px;
  }
  .social-links {
    order: 2;
  }
}
@media(max-width: 480px) {
  .promo {
    padding: 20px;
  }
  .button-text {
    display: none;
  }
  .button {
    min-height: 40px;
  }
  .button-icon {
    margin: 0;
  }
  .section-heading {
    flex-wrap: wrap;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .input-search {
    width: 100%;
  }
  .footer-block {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    order: 0;
    margin-bottom: 20px;
  }
  .footer-nav {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-link:not(:last-child) {
    margin-right: 0;
  }
}