@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/futura/FuturaBookC.woff") format("woff"), url("../fonts/futura/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/futura/FuturaDemiC.woff") format("woff"), url("../fonts/futura/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxliBVWyXD.woff") format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxlilVWyXD.woff") format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* vietnamese */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxliJVWyXD.woff") format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxliNVWyXD.woff") format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxli1VWw.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxliBVWyXD.woff") format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxlilVWyXD.woff") format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* vietnamese */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxliJVWyXD.woff") format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxliNVWyXD.woff") format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"), url("../fonts/yeseva/OpNJno4ck8vc-xYpwWWxli1VWw.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.button {
  padding: 11px 22px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.96rem;
  outline: none; }
  .button:hover {
    cursor: pointer; }
  .button_primary {
    background-color: #e3b873;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    border: none; }
    .button_primary:hover {
      box-shadow: none; }
  .button_outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 17px 44px; }

.scroll-up {
  position: fixed;
  top: 50%;
  left: 5px;
  display: none; }
  .scroll-up__button {
    color: #e3b873;
    background: transparent;
    border: none;
    outline: none;
    background: url("../img/arrow-scroll.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer; }

.modal__button {
  outline: none; }

.modal__close {
  outline: none; }

.label {
  font-size: 1.07rem; }
  .label_light {
    color: rgba(255, 255, 255, 0.5); }

.input {
  font-size: 1.285rem;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: transparent;
  padding: 0.5rem 0; }
  .input_light {
    color: #fff; }
    .input_light::-webkit-input-placeholder {
      color: #fff; }
    .input_light::-moz-placeholder {
      color: #fff; }
    .input_light:-ms-input-placeholder {
      color: #fff; }
    .input_light::-ms-input-placeholder {
      color: #fff; }
    .input_light::placeholder {
      color: #fff; }

.policy__checkbox {
  opacity: 0;
  visibility: hidden; }
  .policy__checkbox:checked + .policy__label::before {
    background: #e3b873 url("../img/check.svg") center/0.8rem no-repeat; }

.policy__label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.142em; }
  .policy__label_center {
    -webkit-box-pack: center;
    justify-content: center; }
  .policy__label::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid #e3b873;
    border-radius: 1px;
    cursor: pointer;
    margin-right: 0.64rem; }

em.invalid {
  color: tomato;
  position: absolute;
  top: 4rem; }

/* #policyCheckbox-error
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: -14px */
input.invalid {
  border-bottom: 1px solid tomato; }

input__group {
  position: relative; }

.modal__tnput-group {
  position: relative; }

#policyCheckboxModal-error {
  position: absolute;
  top: 1.5rem; }

.container {
  width: 85%;
  max-width: 1256px;
  margin: auto; }

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap; }

.col-30 {
  max-width: 31.38%; }

.col-33 {
  flex-basis: 13%; }

.col-50 {
  max-width: 50%; }

.col-70 {
  max-width: 60%; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  font-family: "Futura Book", sans-serif;
  font-size: 1rem; }

img {
  max-width: 100%; }

sup {
  font-size: 0.6em; }

button {
  outline: none; }

a {
  color: #e3b873;
  text-decoration: none; }

.section {
  padding: 50px 0; }
  .section_dark {
    background: #131313;
    color: #fff; }
  .section-title {
    text-align: center; }
    .section-title__subtitle {
      text-transform: uppercase;
      font-style: normal;
      font-size: 1.071rem;
      margin-bottom: 1.285em; }
    .section-title_left {
      text-align: left;
      position: relative; }
    .section-title_light {
      color: #fff; }
    .section-title__heading {
      font-family: "Yeseva One", cursive;
      text-transform: uppercase;
      font-size: 1.42rem;
      line-height: 138%; }
      .section-title__heading_primary {
        font-size: 1.75rem;
        line-height: 148%;
        color: #e3b873; }
    .section-title__word {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center; }
      .section-title__word::after {
        content: "";
        width: 92px;
        height: 1px;
        background: #e3b873;
        margin-left: 2.4rem; }
    .section-title__text {
      font-size: 1.28rem;
      line-height: 2.1rem;
      max-width: 31.57rem; }
    .section-title__image {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center; }
      .section-title__image:before, .section-title__image::after {
        content: "";
        display: inline-block;
        width: 32px;
        height: 2px;
        background: #e3b873;
        vertical-align: text-top;
        margin: 0 8px; }
    .section-title__description {
      margin: auto;
      margin-top: 1.3rem;
      font-size: 1.43rem;
      line-height: 135.84%;
      max-width: 53rem; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .hero__scroll-down {
    height: 6.92rem; }
  .instagram__link {
    position: relative; }
    .instagram__link::after {
      position: absolute;
      top: 50%; }
  .col-50 {
    width: 50%; }
  .card__customers {
    flex-basis: auto;
    width: 30%; }
  .title-map__heading {
    margin: auto;
    margin-bottom: 1.5rem; }
  .footer__map {
    width: 66.071rem; }
  /* .swiper
    &-slide
      width: 100%
      &>img
        width: 100% */ }

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #131313;
  padding: 24px 0;
  z-index: 99; }

.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }
  .menu__nav {
    margin-left: 24px; }
  .menu__contacts {
    margin-right: -11px; }
  .menu__logo {
    margin-left: 10px; }

.logo {
  color: #e3b873;
  text-transform: uppercase;
  font-size: 1.075rem; }

.nav__item {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2.65rem; }
  .nav__item:hover {
    color: #e3b873;
    -webkit-transition: color 0.7s;
    transition: color 0.7s; }

.phone {
  color: #e3b873;
  font-size: 1.01rem; }

.contacts__phone {
  margin-right: 45px; }

.contacts .button_primary {
  padding: 11px 22px; }

.hero {
  background: #131313 url("../img/hero-bg.jpg") no-repeat center/cover;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  color: #fff;
  padding-top: 7.142rem; }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 19, 19, 0.7); }
  .hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3.46rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #131313; }
  .hero__instagram {
    max-width: 80px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .hero__content {
    max-width: 47.85rem;
    position: relative;
    margin-left: 4.28rem; }
  .hero__title {
    font-size: 2.857rem;
    margin-bottom: 1rem; }
  .hero__text {
    font-size: 1.57rem;
    max-width: 35.714rem;
    line-height: 137%;
    margin: 0;
    margin-bottom: 3.2rem; }
  .hero__button {
    min-width: 14.7rem;
    padding: 1.285rem 1.857rem;
    margin-right: 1.2rem; }
  .hero__scroll-down {
    font-size: 0.857rem;
    font-family: Yeseva One;
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 17.6rem;
    min-height: 6.92rem;
    background: #131313;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    z-index: 2; }
    .hero__scroll-down::after {
      content: "";
      width: 29px;
      height: 29px;
      border: 1px solid #e3b873;
      border-radius: 50%;
      background: url("../img/arrow-down.svg") no-repeat center;
      margin-left: 16px; }

.instagram {
  background: #131313;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center; }
  .instagram__link {
    font-size: 1.07rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-transform: uppercase;
    color: #e3b873;
    text-decoration: none;
    line-height: 0.8; }
    .instagram__link::after {
      content: "";
      width: 50px;
      height: 1px;
      background: #e3b873;
      margin-left: 15px; }

.title {
  line-height: 1.35;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 2.843rem; }
  .title_primary {
    color: #e3b873; }

.projects {
  background: url(../img/city-l.svg) no-repeat left bottom, url(../img/city-r.svg) no-repeat right bottom #131313;
  color: #fff;
  padding-bottom: 25rem;
  position: relative; }
  .projects::before {
    content: "";
    background: url(../img/projects-lines.svg) rgba(19, 19, 19, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.swiper-container-horizontal {
  padding-top: 1.5rem; }

.swiper-slide {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5rem; }
  .swiper-slide__text {
    flex-basis: 50%;
    margin-bottom: 2.1rem; }
    .swiper-slide__text-text {
      padding-bottom: 2rem; }
  .swiper-slide__heading {
    color: #e3b873;
    text-transform: uppercase;
    font-size: 1.285rem;
    font-family: "Yeseva One";
    line-height: 0.2rem; }
  .swiper-slide__description {
    line-height: 140%;
    font-size: 1.06rem;
    font-family: "Futura Book"; }
  .swiper-slide__image {
    margin-top: -14rem; }

.swiper-pagination-bulets {
  width: auto; }

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.3); }
  .swiper-pagination-bullet-active {
    background: #fff; }

.swiper-button-prev, .swiper-button-next {
  bottom: 0;
  top: auto;
  background-size: 42px;
  width: 42px;
  height: 14px;
  outline: none; }
  .swiper-button-prev::after, .swiper-button-next::after {
    display: none; }

.swiper-button-prev {
  left: 0;
  background: url("../img/arrow-prev.svg") no-repeat center; }

.swiper-button-next {
  background: url("../img/arrow-next.svg") no-repeat center; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  width: auto;
  bottom: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
  width: 10px;
  height: 10px; }

.control {
  padding: 5.571rem 0;
  position: relative; }
  .control__section-title {
    margin-top: -28.3rem;
    margin-bottom: 2.214rem; }
  .control__video {
    display: -webkit-box;
    display: flex;
    max-width: 58.357rem;
    height: 31rem;
    background: #131313 url("../img/video-mask.jpg") center no-repeat;
    position: relative;
    box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-bottom: 4.5rem; }
    .control__video::before {
      content: "";
      background: rgba(19, 19, 19, 0.8);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
  .control__text {
    max-width: 40.7rem;
    margin: auto;
    text-align: center;
    font-size: 1.428rem;
    line-height: 2.46rem; }
    .control__text::before {
      content: "";
      height: 2px;
      width: 55px;
      background: #e3b873;
      border-radius: 30px;
      display: block;
      margin: auto;
      margin-bottom: 1.9rem; }
  .control__form {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 55rem;
    margin: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 4.279rem; }
  .control__input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #131313; }
  .control__input-group {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-basis: 30%;
    position: relative; }
  .control__button {
    padding: 1.23rem 4.3rem;
    font-size: 1.1rem; }
  .control__policy {
    flex-basis: 100%;
    margin-top: 1.15rem;
    position: relative; }
    .control__policy_label {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      font-size: 1.13rem; }
  .control__label {
    margin-bottom: -7px; }

.video__play {
  position: absolute;
  margin: auto;
  cursor: pointer;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.types__section-title {
  margin-bottom: 2rem; }

.card__pricetag-type {
  padding: 1.2rem 2.85rem;
  font-weight: 200;
  position: absolute;
  left: 0;
  bottom: -1.79rem;
  font-size: 1.29rem;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  background: #e3b873;
  color: #fff;
  max-width: 17.285rem;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1); }

.design {
  padding-top: 50px;
  padding-bottom: 0;
  background: #131313; }
  .design__section-title {
    color: #fff;
    margin-bottom: 2.78rem; }
  .design__card {
    margin-bottom: 5.7rem; }

.heading_color {
  color: #fff; }

.card__image {
  width: 100%;
  display: block;
  margin: auto; }

.card__text {
  position: relative;
  max-width: 23.6rem;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  margin: 0 auto;
  margin-top: -9.3rem;
  padding: 1.79rem 2.14rem; }

.card__title {
  font-family: "Yeseva One", cursive;
  font-size: 1.29rem;
  margin-top: 0;
  margin-bottom: 0.7rem; }

.card__list {
  padding: 0 0 0 1rem;
  margin: 0;
  font-size: 1.07rem;
  line-height: 1.79rem;
  color: #959595;
  margin-bottom: 2.5rem; }

.card__pricetag-design {
  font-weight: 200;
  position: absolute;
  left: 0;
  bottom: -1.79rem;
  font-size: 1.29rem;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  background: #e3b873;
  color: #fff;
  padding: 1.214rem 2.5rem;
  max-width: 16.285rem;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1); }

.target {
  padding-top: 30.595rem;
  padding-bottom: 20rem;
  margin-top: -27rem;
  background: #131313 url("../img/background-target.svg") no-repeat center/cover;
  color: #fff; }
  .target__slider {
    margin-bottom: 6.799rem; }
  .target-slide {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem; }
    .target-slide__text {
      flex-basis: 50%;
      margin-bottom: 2.1rem; }
      .target-slide__text-text {
        padding-bottom: 2rem; }
    .target-slide__heading {
      color: #e3b873;
      text-transform: uppercase;
      font-size: 1.285rem;
      font-family: "Yeseva One"; }
    .target-slide__description {
      line-height: 140%;
      font-size: 1.06rem;
      font-family: "Futura Book"; }
    .target-slide__image {
      margin-top: -14rem; }
  .target-pagination-bulets {
    width: auto; }
  .target-pagination-bullet {
    background: rgba(255, 255, 255, 0.3); }
    .target-pagination-bullet-active {
      background: #fff; }
  .target-button-prev, .target-button-next {
    bottom: 0;
    top: auto;
    background-size: 42px;
    width: 42px;
    height: 14px;
    outline: none; }
    .target-button-prev::after, .target-button-next::after {
      display: none; }
  .target-button-prev {
    left: 0;
    background: url("../img/arrow-prev.svg") no-repeat center; }
  .target-button-next {
    background: url("../img/arrow-next.svg") no-repeat center; }

.target-container-horizontal > .target-pagination-bullets {
  width: auto;
  bottom: 0; }

.target-container-horizontal > .target-pagination-bullets .target-pagination-bullet {
  margin: 0 9px;
  width: 10px;
  height: 10px; }
  .target-container-horizontal > .target-pagination-bullets .target-pagination-bullet__heading {
    line-height: 1.642rem;
    margin-bottom: 1.142rem; }
  .target-container-horizontal > .target-pagination-bullets .target-pagination-bullet__description {
    font-style: normal;
    font-size: 1.071rem;
    line-height: 1.785rem; }

.slide-target {
  flex-basis: 100%; }

.pagination-top, .pagination-name {
  top: 0; }

.section-title__left {
  flex-basis: 40%; }

.steps {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .steps::after {
    content: "";
    background: #e3b873;
    width: 92px;
    height: 1px;
    margin-left: 98px; }

.step-number {
  flex-basis: 60%; }
  .step-number__container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .step-number__number {
    font-family: "Yeseva One";
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(227, 184, 115, 0.3);
    font-size: 1.071rem; }
  .step-number__title {
    display: block;
    font-size: 1.071rem;
    line-height: 1.285rem;
    margin: 1rem 0 2.571rem; }

.number {
  color: rgba(255, 255, 255, 0.3); }
  .number-active {
    color: #fff; }

.swiper-button-next1, .swiper-button-prev1 {
  position: static;
  display: inline-block; }

body > main > section.section.target > div > div:nth-child(2) > div.col-30 > div > div.swiper-pagination.pagination-bottom.swiper-pagination-clickable.swiper-pagination-bullets {
  position: static;
  display: inline-block;
  vertical-align: top; }

.customers {
  padding-top: 36.3rem;
  padding-bottom: 27.3rem;
  background: url(../img/bgcust-left.svg) no-repeat left bottom, url(../img/bgcust-right.svg) no-repeat right bottom;
  position: relative; }
  .customers::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bgcust-lines.svg) no-repeat center/cover; }
  .customers-title__description {
    max-width: 25.714rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    font-size: 1.428rem;
    line-height: 1.928rem; }

.card__customers {
  background: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-basis: 31%;
  position: relative;
  padding: 1.4rem;
  padding-top: 1.7rem;
  padding-bottom: 3.9rem; }

.card__people {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center; }

.card__avatar {
  width: 5.428rem;
  height: 5.428rem;
  border-radius: 100%;
  margin-right: 1.6rem; }

.card__name {
  font-size: 1.285rem;
  line-height: 1.65rem;
  max-width: 14.071rem;
  text-align: left;
  font-family: Yeseva One; }

.card__mesage {
  text-align: left;
  font-size: 1.071rem;
  line-height: 181%;
  color: #959595; }

.card__icons {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  display: -webkit-box;
  display: flex;
  max-width: 80%;
  color: #fff;
  font-size: 1.214rem;
  justify-content: space-around;
  font-size: 1.4rem;
  max-width: 87%;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -2rem;
  font-family: Yeseva One; }

.area {
  border-right: 1px solid #fff; }

.time, .area {
  font-size: 1.2rem;
  padding: 0.8rem 1.1rem; }
  .time img, .area img {
    vertical-align: middle;
    margin-right: 1rem; }

.comand {
  color: #131313; }
  .comand-title__description {
    max-width: 32rem;
    -webkit-animation-name: slideRight;
    animation-name: slideRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .comand-wrap {
    margin-bottom: -34rem;
    z-index: 9;
    position: relative; }
  .comand__card {
    position: relative; }
  .comand__description {
    font-size: 1.428rem;
    line-height: 2.428rem;
    max-width: 40.571rem;
    text-align: center;
    margin: auto;
    color: #131313; }
    .comand__description::before {
      content: "";
      width: 3.928rem;
      height: 0.142rem;
      background: #e3b873;
      display: block;
      margin: auto;
      margin-bottom: 0.7rem;
      margin-top: 3.785rem; }
  .comand__row {
    margin-top: 5.85rem;
    margin-bottom: 3.785rem; }
  .comand__image {
    width: 19.44rem;
    height: 25.545rem; }

.card__resume {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  background: #fff;
  color: #131313;
  max-width: 16.571rem;
  text-align: center;
  padding-top: 1.571rem;
  margin: auto;
  margin-top: -6rem; }
  .card__resume-image {
    width: 100%;
    margin: auto; }

.card__icon {
  position: absolute;
  top: -8.5%;
  right: 76%;
  background: #e3b873;
  box-shadow: 0px 5px 20px rgba #e3b873, 0.5;
  width: 5rem;
  height: 5rem;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .card__icon-image {
    width: 3.142rem;
    height: 3.142rem; }

.resume__name {
  font-family: Yeseva One;
  font-size: 1.285rem;
  margin-bottom: 0.7rem; }

.resume__position {
  font-size: 1.285rem;
  color: #959595;
  margin-bottom: 1.714rem; }

.resume__exp {
  background: #e3b873;
  color: #fff;
  font-family: Yeseva One;
  font-size: 0.928rem;
  padding: 0.928rem 0 1rem;
  text-transform: uppercase; }

.footer {
  background: #131313 url("../img/footer-bg.svg") no-repeat center/cover;
  padding-top: 3rem; }
  .footer__wrap {
    background: #181818;
    max-width: 63.07rem;
    margin: auto;
    padding: 2.5rem;
    margin-top: -18.7rem;
    margin-bottom: 3.715rem;
    position: relative;
    z-index: 9; }
  .footer__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Yeseva One", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1.428rem;
    margin-bottom: 3.214rem;
    margin-top: 0; }
    .footer__title-map {
      max-width: 38.071rem;
      margin: auto;
      margin-bottom: 3.09rem; }
  .footer__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 37.142rem;
    margin: auto; }
  .footer__input {
    padding-top: 0.3rem; }
    .footer__input-group {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      flex-basis: 45%;
      margin-bottom: 2.8rem;
      position: relative; }
      .footer__input-group_full-width {
        flex-basis: 100%; }
  .footer__policy {
    flex-basis: 100%;
    margin-bottom: 3.5rem;
    margin-top: -0.5rem;
    position: relative; }
  .footer__button {
    margin: auto;
    font-size: 1.071rem;
    padding: 1.2rem 4.4rem;
    text-transform: uppercase; }
  .footer__menu {
    background: #131313;
    padding: 3.6rem 0; }
  .footer__map {
    margin: auto;
    margin-bottom: 4.709rem;
    height: 33.214rem;
    max-width: 66.071rem; }
  .footer__social {
    text-align: center; }

.title-map__heading {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 1.428rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  margin-bottom: 1.5rem; }

.social__item {
  margin: 0 0.4rem; }

.social__link {
  outline: none;
  cursor: pointer; }

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.6);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }
  .modal_visible {
    opacity: 1;
    visibility: visible; }
  .modal__dialog {
    background: #131313 url("../img/bg-lines.svg") no-repeat center;
    max-width: 36.36rem;
    position: relative;
    padding: 2.357rem 3.5rem 1.928rem;
    color: #fff; }
  .modal__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 12px; }
  .modal__title {
    line-height: 2rem;
    font-weight: normal;
    text-align: center;
    font-family: "Yeseva One", cursive;
    font-size: 1.357rem;
    margin: 0;
    margin-bottom: 1.7rem; }
  .modal__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .modal__policy {
    position: relative;
    margin-bottom: 2.7rem; }
  .modal__tnput-group {
    margin-bottom: 3.482rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .modal__tnput:last-of-type {
    margin-bottom: 1rem; }
  .modal__button {
    align-self: flex-end;
    padding: 1.27rem 4rem;
    text-transform: uppercase;
    padding: 1.245rem 3.25rem;
    margin-top: -1.3rem; }
  .modal-thanks {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; }
    .modal-thanks_visible {
      opacity: 1;
      visibility: visible; }
    .modal-thanks__mesage {
      background: #131313 url("../img/bg-lines.svg") no-repeat center;
      max-width: 36.36rem;
      position: relative;
      color: #fff;
      text-align: center;
      font-family: "Yeseva One", cursive;
      font-size: 1.357rem;
      padding: 2.357rem 3.5rem; }
    .modal-thanks__close {
      position: absolute;
      right: 0;
      top: 0;
      width: 28px;
      height: 28px;
      background: transparent url("../img/close.svg") no-repeat center;
      border: none;
      outline: none;
      cursor: pointer; }

.policy__label-modal {
  margin-top: -3rem;
  position: relative; }

.modal__tnput-group {
  position: relative; }

#policyCheckboxModal-error {
  position: absolute;
  top: 1.5rem; }

@media screen and (max-width: 1290px) {
  html {
    font-size: 12px; }
  .nav__item {
    margin-right: 1rem; }
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row; }
  .customers {
    display: none; }
  .target {
    display: none; }
  .comand-wrap {
    margin-bottom: 0; } }

@media screen and (max-width: 990px) {
  .menu__logo, .menu__contacts {
    margin: 0; }
  .nav {
    display: none; }
  .hero__instagram {
    display: none; }
  .hero__content {
    margin-left: 0; } }

@media screen and (max-width: 920px) {
  .container {
    width: 74%; }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .card__text {
    margin-left: 0; }
  .card__icon {
    left: -2.85rem;
    top: -2.85rem; }
  .card__pricetag {
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3); }
    .card__pricetag-image {
      width: 100%;
      max-width: 100%; }
  .card__resume {
    max-width: 19.4rem;
    margin-top: -6.5rem; }
  .comand {
    width: 100%;
    background: #131313;
    color: #fff;
    padding-bottom: 15rem;
    margin-bottom: -10rem; }
    .comand__card {
      width: 50%;
      margin: auto;
      margin-bottom: 7.5rem;
      right: -5%; }
    .comand__row {
      margin-bottom: 10rem; }
    .comand__image {
      width: 100%;
      height: auto; }
    .comand__description {
      display: none; }
      .comand__description::before {
        display: none; }
    .comand__row {
      padding-bottom: 0; }
  .col-50 {
    max-width: 100%; }
  .col-30 {
    max-width: 100%; }
  .swiper-slide {
    margin-bottom: 0;
    padding-bottom: 1.95rem; }
    .swiper-slide__heading {
      font-size: 1.17rem;
      line-height: 0.59rem; }
    .swiper-slide__description {
      font-size: 1.15rem; }
    .swiper-slide__image {
      margin-top: 0; }
  .mobile-order-top {
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .section-title_left {
    text-align: center; }
  .section-title__text {
    display: block;
    margin: auto; }
  .section-title__word {
    display: block; }
    .section-title__word::after {
      display: none; }
  .footer__map {
    height: 21.214rem;
    margin-bottom: 2rem; } }

@media screen and (max-width: 890px) {
  .card__title {
    min-height: 2.571rem; } }

@media screen and (max-width: 800px) {
  .types__card {
    margin-bottom: 5rem; }
  .card__pricetag-type {
    padding: 1.0rem 2.5rem; }
  .card__pricetag-design {
    padding: 1.0rem 3.9rem; } }

@media screen and (min-width: 760px) {
  .design {
    background: #fff; }
    .design__section-title {
      color: #000;
      margin-bottom: 3.2rem; }
  .card {
    flex-basis: 31.38%; } }

@media screen and (max-width: 640px) {
  .section-title__description {
    font-size: 1.25rem;
    max-width: 25rem; }
  .control {
    background: #131313;
    color: #fff;
    position: relative; }
    .control__section-title {
      margin-top: 0; }
    .control__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      margin-top: -2.2rem; }
    .control__label {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 0; }
    .control__input {
      color: #fff; }
      .control__input::-webkit-input-placeholder {
        color: #fff; }
      .control__input::-moz-placeholder {
        color: #fff; }
      .control__input:-ms-input-placeholder {
        color: #fff; }
      .control__input::-ms-input-placeholder {
        color: #fff; }
      .control__input::placeholder {
        color: #fff; }
    .control__video {
      background-size: cover;
      min-height: 207px; }
    .control__text {
      font-size: 1.16rem;
      line-height: 2rem; }
      .control__text::before {
        margin-bottom: 1.1rem; }
    .control__label {
      font-size: 1.2rem; }
    .control__input {
      font-size: 1.53rem;
      border-bottom: 1px solid #fff; }
      .control__input-group {
        margin-top: 4.7rem;
        -webkit-box-ordinal-group: 2;
        order: 1; }
    .control__button {
      -webkit-box-ordinal-group: 3;
      order: 2;
      padding: 1.23rem 5rem;
      font-size: 1.3rem;
      margin-bottom: -2rem; }
    .control__policy {
      -webkit-box-ordinal-group: 2;
      order: 1;
      margin-bottom: 5rem; }
  .video__play {
    max-width: 63px; }
  .policy__label {
    -webkit-box-pack: start;
    justify-content: flex-start; }
  .resume__name {
    font-size: 1.495rem; }
  .resume__position {
    font-size: 1.485rem; }
  .resume__exp {
    font-size: 1.08rem;
    padding: 1.25rem 0; }
  .footer {
    background: #131313; }
    .footer__wrap {
      background: #131313;
      margin-top: 0;
      padding: 0;
      width: 100%; }
      .footer__wrap-map {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse; }
    .footer__title {
      font-size: 1.65rem;
      margin-bottom: 4.214rem; }
    .footer__input-group {
      flex-basis: 100%;
      margin-bottom: 5.05rem; }
    .footer__policy {
      margin-top: -4.5rem; }
    .footer__label {
      font-size: 1.3rem; }
    .footer__input {
      font-size: 1.5rem; }
    .footer__menu {
      display: none; }
    .footer__button {
      font-size: 1.27rem;
      padding: 1.4rem 10.95rem;
      margin-top: 2rem;
      overflow: hidden; }
  .policy__label {
    font-size: 1.342rem; }
  .projects {
    padding-bottom: 0;
    background: #131313; }
    .projects::before {
      display: none; }
  .control {
    background: #131313; }
    .control__button {
      margin-bottom: -4.5rem; }
  .comand {
    width: 100%; }
    .comand__card {
      width: 91%; }
    .comand-title__description {
      max-width: 27rem; }
    .comand__row {
      margin-top: 6.85rem; }
  .title-map__heading {
    width: 26rem; }
  .modal__dialog {
    width: 90%; } }

@media screen and (max-height: 570px) {
  .hero {
    height: 150vh; }
  .modal__dialog {
    padding-bottom: 0;
    padding-top: 0; }
  .modal__title {
    margin: 0; }
  .modal__tnput-group {
    margin-bottom: 2.3rem; }
  .modal__button {
    margin-bottom: 1rem; } }

@media screen and (max-width: 580px) {
  .container {
    width: 90%; }
  .header {
    padding: 1.7rem 0; }
  .contacts__phone {
    margin-right: 0;
    color: #fff;
    text-decoration: none; }
  .contacts__button {
    display: none; }
  .title {
    font-size: 1.64rem;
    line-height: 1.35; }
  .hero {
    height: 66vh;
    padding-top: 4rem; }
    .hero__title {
      font-size: 1.9rem;
      margin-top: 3rem; }
    .hero__text {
      max-width: 26.5rem;
      font-size: 1.5rem;
      margin-bottom: 2.28rem; }
    .hero__button {
      display: block;
      width: 100%;
      padding: 1.428rem 1.785rem;
      margin-bottom: 1.8rem; }
    .hero__scroll-down {
      display: none; }
    .hero::after {
      display: none; }
  .button {
    font-size: 1.1rem; }
  .section {
    padding-top: 1.8rem;
    padding-bottom: 3rem; }
    .section-title__heading {
      text-align: center;
      margin-bottom: 1.15rem;
      font-size: 1.85rem; }
      .section-title__heading_primary {
        font-size: 1.65rem; }
    .section-title__word {
      -webkit-box-pack: center;
      justify-content: center; }
    .section-title__text {
      text-align: center;
      font-size: 1.157rem;
      max-width: 25rem;
      line-height: 1.798rem;
      margin: 0 auto; }
  .row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .comand-title__description {
    font-size: 1.25rem; }
  .comand__row {
    margin-bottom: 3.785rem; }
  .card__icon {
    width: 5.8rem;
    height: 5.8rem; }
  .card__text {
    max-width: 22.5rem;
    margin-top: -11.7rem;
    padding: 1.60rem 2.14rem 1.0rem; }
  .card__title {
    min-height: 1.4rem;
    font-size: 1.25rem;
    margin-bottom: 1rem; }
  .card__list {
    line-height: 1.9rem; }
  .footer {
    background: #131313; }
    .footer__input-group {
      flex-basis: 100%;
      margin-bottom: 4.9rem; }
    .footer__policy {
      margin-top: -4.2rem; }
  .social__item {
    width: 2.785rem;
    margin-right: 1.485rem; }
  .video {
    height: 17.285rem; } }

@media screen and (max-width: 400px) {
  .comand__image {
    height: 30rem; } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important; } }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
