footer.footer
	.container.align-center
		.footer__logo
			a(href="index.html")
				img(src="img/logo.png", alt="logo")
		.footer__city-list.city-list
			.city-enter Выберите город
				img(src="img/arrow-top.png", alt="arrow")
			ul.d-none
				li.city-list__item 
					a(href="#") Астана
				li.city-list__item 
					a(href="#") Новокузнецк
				li.city-list__item 
					a(href="#") Калининград
		nav.footer__nav.nav
			ul.flex
				li.nav__item 
					a(href="#") О нас
				li.nav__item 
					a(href="#") Статистика
				li.nav__item 
					a(href="#") Новости
				li.nav__item 
					a(href="#") Контакты
		.footer__phone.phone 
			a(href="tel:+77024407007") +7 702 #[span 440 70 07] 
		buttom.footer__button.button перезвоните мне
	.footer__copyright
		.container.align-center.justify-space-between
			p © www.pro-football.kz 2008-2015. Все права защищены.
			p.align-center Сделано в:
				img(src="img/web.png", alt="web")
		