header.header
	.container.align-center
		.header__logo
			img(src="img/logo.png", alt="logo")
		.header__city-list.city-list
			.city-enter Выберите город
				img(src="img/arrow-top.png", alt="arrow")
			ul.d-none
				li.city-list__item 
					a Астана
				li.city-list__item 
					a Новокузнецк
				li.city-list__item 
					a Калининград
		nav.header__nav.nav
			ul.flex
				li.nav__item О нас
				li.nav__item Статистика
				li.nav__item Новости
				li.nav__item Контакты
		.header__phone.phone 
			a(href="tel:+77024407007") +7 702 #[span 440 70 07] 
		buttom.header__button.button перезвоните мне
			
		

