@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .hero
    &__scroll-down
      height: 6.92rem
    &__content
      width: 47.85rem
  .instagram
    &__link
      position: relative
      &::after
        position: absolute
        top: 50%

