.footer
  &-bg
    background: url("../img/bg-footer.jpg") no-repeat top / cover
    height: 26.666rem
  &__social
    display: flex
    max-width: 17.333rem
    margin: auto
  &__information
    padding: 2.4rem 0
    background: $dark
.information
  &__text
    font-family: Roboto
    font-size: 1rem
    font-weight: 300
    line-height: 1.466rem
    max-width: 34.066rem
    color: $lightgray
    text-align: center
    margin: auto
    margin-bottom: 2.133rem
.map
  width: 100%
  height: 37.533rem