.hero
  padding-top: 3.666rem
  padding-bottom: 4.6rem
  background: url(../img/bg-bread.jpg) no-repeat 31% 50%, url(../img/bg-wheat.jpg) no-repeat 92% 50%
  text-align: center
  &__title
    font-family: "Roboto", serif
    color: $darkyellow
    font-size: 3.066rem
    font-weight: bold
    text-transform: uppercase
    text-align: center
  &__description
    font-family: "Roboto", serif
    font-size: 1.466rem
    font-weight: normal
    color: $darkblack
    margin-bottom: 3.533rem
  &__wrap
    max-width: 20.066rem
    padding-top: 2rem
    padding-bottom: 1.666rem
    padding-left: 1.666rem
    padding-right: 1.666rem
    background: $red
    border: 5px solid $yellow
  &__offer
    color: $yellow
    font-family: "Roboto Condensed"
    font-size: 1.36rem
    text-transform: uppercase
.advantages
  display: flex
  align-self: flex-end
  //margin-right: 3rem
  &__item
    background: url("../img/circle.png") no-repeat center
    min-width: 13.2rem
    min-height: 13.2rem
    display: flex
    flex-direction: column
    justify-content: center
    //margin: 0 1.066rem
  &__text
    font-family: "Roboto Condensed"
    font-size: 1.066rem
    font-weight: bold
    line-height: 1.23rem
    text-transform: uppercase
.circle
  display: flex
  align-items: flex-end
  flex-wrap: wrap
  max-width: 45.933rem
.wrap
  &-shadow
    display: flex
    align-items: flex-start
    max-width: 43.333rem
    justify-content: space-between
    flex-direction: column
    margin-left: 1.066rem
