@font-face {
  font-family: 'PF Din Text Cond Pro';
  src:
  url('../font/PF_Din_Text_Cond_Pro/pfdintextcondpro-bold.woff') format('woff'),
  url('../font/PF_Din_Text_Cond_Pro/pfdintextcondpro-bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}