.hero
	padding-bottom: 28.466rem
	background: url("../img/devices.png") no-repeat center 300%, url("../img/mountain.png") no-repeat center 170%
	&__offer
		align-items: center
		width: fit-content
		margin: 0 auto
		text-align: right
	&__title
		font-size: 8.133rem
		font-family: "Kenyan Coffee"
		color: rgb(255, 0, 0)
		font-weight: 700
		text-transform: uppercase
		line-height: 0
		margin: 0 12px
	&__font
		&_italic
			font-size: 2.666rem
			font-family: "Pacifico"
			color: rgb(63, 59, 72)
			line-height: 1.325
		&_bold
			font-size: 3.733rem
			font-family: "Kenyan Coffee"
			color: rgb(63, 59, 72)
			font-weight: 700
			text-transform: uppercase
			line-height: 0.946
			&:last-child
				align-self: flex-end
