.header
	background: #000 url('/img/header.jpg') no-repeat center / cover
	padding: 1rem 0
	&__logo
		width: 7.733rem
		height: 7.733rem
		margin-right: 2.333rem
	&__city_list
		margin-right: 4.533rem
	&__button
	&__nav
		margin-right: 4.533rem
		&__item
			color: #fff
			line-height: 1.6
.city
	&-list
		border: 1px solid #fff
		border-radius: 50px
		color: #ffffff
	&-enter
		padding: 1.066rem 0.933rem
		&>img
			margin-left: 1.466rem

