extends layout/main
block variables
	- var pageTitle = 'Новости'
	- var crumbs = [{link: 'index.html', name: 'Главная'}, {link: '#', name: 'Статистика'}, {name: 'Дмитрий Новиков', last: true}]
block content
	